<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VideoBoothTemplate.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DB6B39233707635154ACC0E6169F0E79D2B85328</string>
				<key>dateExpires</key>
				<string>06/01/2026</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y38XQ7EWLB.com.lazulite.VideoBoothTemplate</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y38XQ7EWLB</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>VideoBoothTemplate.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b9cf9b65-6918-417a-b3cc-cb8dd9dc13cc</string>
				<key>dateExpires</key>
				<string>06/01/2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.lazulite.VideoBoothTemplate</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y38XQ7EWLB</string>
				<key>name</key>
				<string>Irfan Jabbar (Individual - irfan.jabbar@yahoo.com)</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
